ul {
  list-style: none;
}

.btns {
  background-color: red; 
  border: 2px solid black;
  color: white;
  width: 200px;
  border-radius: 25px;
  padding: 15px;
  margin: 10px 0;
}

.btns:hover {
  cursor: pointer;
}